<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Homepage</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/fontawesome-free-5.9.0-web/css/fontawesome.css" />
    <link rel="stylesheet" href="/static/fontawesome-free-5.9.0-web/css/all.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/flaticon.css" />
    <link rel="stylesheet" href="/static/bootstrap/js/bootstrap.min.js" />
    <link rel="stylesheet" href="/static/bootstrap/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/animate.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css" />
    <link href="plugins/video-js/video-js.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="styles/about_responsive.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <div class="menu-bar">
        <ul class="success">
            <nav class="navbar fixed-top navbar navbar-expand-sm navbar-light bg-danger">
                <h3 class="px-1">
                    <img src="../static/images/farmer.jpg" class="photo" />Agro Insurance Consulting
                </h3>
                <a href="" class="navbar-brand">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler=icon"></span>
            </button>

                    <li>

                        <a class="nav-link active" aria-current="page" href="{{url_for('predict')}}"><i class="fas fa-home"></i>HOME</a>
                    </li>
                    <li>
                        <a href="{{url_for('about')}}"><i class="fas fa-database"></i>ABOUT US</a>
                    </li>
                    <li>
                        <a href="{{url_for('services')}}"><i class="fas fa-user"></i>Our Services</a>
                    </li>


                    <li>
                        <a href="{{url_for('contact')}}">
                            <i class="fas fa-phone"></i>Contact Us</a>
                    </li>


                </a>
            </nav>
        </ul>
    </div>
</head>

<body>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <h1 style="text-align: center;">
        <span style="color: green;">ABOUT AGRO-CONSULTING</span> </h1>
    <div class='row'>
        <div class='column'>
            <img src="../static/images/download.png " alt="Avatar " style="width:300px;height:300px; ">
        </div>
        <div class='column'>
            <img src="../static/images/goo.jpg " alt="Avatar " style="width:300px;height:300px; ">
            <p>We are the Leading Consulting Organization in Kenya. <br>
            </p>
        </div>

        <div class='column'>
            <p>
                Agriculture is the world's largest industry. Intensive agriculture as it has been practiced since the 1960s has very high yields, but depletes the soil and pollutes the environment: greenhouse gas emissions, biodiversity loss, ocean acidification, etc</p>
            <h2>What is sustainable agriculture?</h2>
            <p style="color:blue;"> Green agriculture is the application of the sustainable development principles to agriculture: ensuring the production of food, wood and fibers while respecting the ecological, economic and social limits that ensure the durability of this
                production. For instance, sustainable farming minimises the use of pesticides that can harm the health of farmers and consumers.<br> Key principles are linked to sustainable agriculture: <br>1. Develop efficient, self-sufficient and economical
                production systems that provide decent incomes
                <br>2. Preserve and protect biodiversity and territories<br> 3. Optimize the use of natural resources <br>4. Manage the quality of air, water and soil <br>5. Increase energy efficiency in food production and distribution</p>
        </div>
    </div>
    <footer class="footer-section bg-success" role="contentinfo">

        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3 mb-5 ">
                    <h3 class="mb-4">Our Partners</h3>
                    <span class="d-block caption ">


             <span class="fab fa-amazon">Amazon</span><br>

                    <span class="fab fa-apple">Apple</span><br>
                    <span class="fab fa-microsoft">Microsoft</span>


                </div>
                <div class="col-md-5 mb-5 pl-md-5">
                    <div class="mb-5">
                        <h3 class="mb-4">Social Media</h3>
                        <ul class="list-unstyled footer-link d-flex footer-social  ">
                            <li><a href="#" class="p-2"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fab fa-facebook"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fab fa-linkedin"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-3 mb-5 pl-md-5">
                    <h3 class="mb-4">Quick Links</h3>
                    <ul class="list-unstyled footer-link  quick-contact">
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="">Disclaimers</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row">

                <div class="col-12 text-md-center text-left bg-danger">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <b> <p class="small">Copyright &copy;<script>document.write(new Date().getFullYear());</script>  | Designed by <a href="https://colorlib.com" target="_blank" ><i style="color: black">WANJOHI CHRISTOPHER NYAGA</i></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p></b>

                </div>

            </div>
        </div>
    </footer>
    <script src="" async defer></script>
</body>

</html>